.panel-primary {
    border-color: #1083e6;
}
.h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.panel-body {
    padding: 15px;
}
.panel {
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    border-color: #1083e6;

}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #1083e6;
    border-color: #1083e6;
}
.main-footer {
    background: #fff;
    padding: 15px;
    color: #444;
    border-top: 1px solid #d2d6de;
}